# Node modules
node_modules/
package-lock.json

# Python cache and virtual environments
__pycache__/
*.venv/
venv/

# AWS/CDK build output
cdk.out/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log
